@model Project_Full_Stack_Developer.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<div class="contain">
    <h4>Edit Movie</h4>
    
    <div class="row">
        <div class="col">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Oscars" class="control-label"></label>
                    <input asp-for="Oscars" class="form-control" />
                    <span asp-validation-for="Oscars" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategory" class="control-label"></label>
                    <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
                    <span asp-validation-for="IdCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdDirector" class="control-label"></label>
                    <select asp-for="IdDirector" class="form-control" asp-items="ViewBag.IdDirector"></select>
                    <span asp-validation-for="IdDirector" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdProdution" class="control-label"></label>
                    <select asp-for="IdProdution" class="form-control" asp-items="ViewBag.IdProdution"></select>
                    <span asp-validation-for="IdProdution" class="text-danger"></span>
                </div>
                
            </form>
        </div>
        <div class="col-4">
            <img src="@Model.imgPath" class="img-thumbnail " />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
