@{
    ViewData["Title"] = "Home Page";
}

<div id="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/oceans 11.jpeg" alt="Ocean's'">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">The Ocean's film series was inspired by the 1960 heist film Ocean's 11 directed by Lewis Milestone and starring five of the Rat Pack: Peter Lawford, Frank Sinatra, Dean Martin, Sammy Davis Jr., and Joey Bishop..</p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.mentalfloss.com/article/653204/oceans-eleven-movie-facts" role="button">Learn more</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/avatar.jpg" alt="Avatar'">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.</p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.mentalfloss.com/posts/james-cameron-avatar-movie-facts" role="button">Learn more</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Star wars.jpg" alt="Star Wars">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">George Lucas has achieved what few artists do; he has created and populated a world of his own. His 'Star Wars' movies are among the most influential, both technically and commercially, ever made.</p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.mentalfloss.com/section/star-wars" role="button">Learn more</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/Godfather.jpg" alt="Godfather">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">The Godfather is a trilogy of American crime films directed by Francis Ford Coppola inspired by the 1969 novel of the same name by Italian American author Mario Puzo. The films follow the trials of the fictional Italian American mafia Corleone family whose patriarch, Vito Corleone, rises to be a major figure in American organized crime.</p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.mentalfloss.com/article/62427/15-things-you-didnt-know-about-godfather" role="button">Learn more</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/60seconds.jpg" alt="Gone60Seconds">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">Car thief Kip Raines works with his gang to steal fifty high-end cars for Raymond Calitri, a British gangster in Long Beach, California. After stealing a Porsche 996 from a showroom, Kip unwittingly leads the police to his crew's warehouse, forcing the thieves to flee. Detectives Castlebeck and Drycoff impound the stolen cars and open an investigation. </p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.grindhousedatabase.com/index.php/Gone_in_60_Seconds/Fun_Facts" role="button">Learn more</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/matrix.jpg" alt="Matrix">
                <div class="card-body">
                    <p class="card-text" style="font-family:'Copperplate Gothic'; font-size:10px;">Neo finds himself targeted by the police when he is contacted by Morpheus, a legendary computer hacker branded a terrorist by the government. As a rebel against the machines, Neo must confront the agents: super-powerful computer programs devoted to stopping Neo and the entire human rebellion.</p>
                </div>
                <a style="padding:5px;" class="btn btn-outline-secondary btn-sm" href="https://www.mentalfloss.com/article/60336/15-things-you-probably-didnt-know-about-matrix" role="button">Learn more</a>
            </div>
        </div>
    </div>
</div>
