@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    When using any of our products or interacting which is owned and operated by Thomas Oliveira,
    you consent to the collection, transfer, storage, processing, disclosure and use of your information as described in this Privacy Policy.
    This includes any information you choose to provide that is deemed sensitive under applicable law.
    If you do not agree with the terms of this Privacy Policy, you should not use this movie database
    , or access or interact with any other aspect.

    We collect and process data that is used to provide a real example of a movie database.

    It main purpose is to demonstrate the abilities gained in a Full Stack Developer degree in Rumos.

    If you have a disability and need this policy provided to you in a different format, please email oliveirathomas@gmail.com.
</p>
